$header: 50px;
$footer: 50px;
$logo: 24px;
$logo-color: linear-gradient(to right, #E9CE8E 25%, #F5CD45 75%);
$nav-size: 14px;
$main-color: #A71E23;
$max-width: 768px;
$responsive-main-padding: 16px;
$header-margin: $header + 20px;
$footer-margin: $footer + 20px;
