$header: 50px;
$footer: 50px;
$logo: 22px;
$logo-color: #fff;
$nav-size: 14px;
$main-color: #A71E23;
$max-width: 768px;
$responsive-main-padding: 16px;
$header-margin: $header + 4px;
$footer-margin: $footer + 4px;
