header{
  width: 100%;
  height: $header;
  background: $main-color;
  line-height: $header;
  text-align: center;
  top: 0;
  @include fixed;
}

.header-logo{
  margin: 0 auto;
  font-size: $logo;
  color: $logo-color;
}

.main_header_nav{
  background: $main-color;
  height: 30px;
  line-height: 20px;
  display: none;
}

.main_header_nav_lists{
  display: flex;
  justify-content: space-between;
}

.main_header_nav_list{
  font-weight: bold;
  color: #fff;
  font-size: 12px;
  display: inline-block;
}

.header_nav_height{
  margin-top: $header-margin + 30px;
}

.add_header_nav{
  display: block;
}
